/* navbar */
.navbar{
    position: relative;
    z-index: 1;
  }

  .jumbotron .container{
    z-index: 1;
    position: relative;

}
@font-face{
    font-family: 'Permanent Marker';
    src: url('assets/fonts/Permanent Marker/PermanentMarker-Regular.ttf') format('truetype');
  }
  
  .navbar .navbar-brand{
    
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color:rgb(255, 255, 255);
  }

  .navbar .nav-link i{
    
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color:rgb(255, 255, 255);
  }

  .nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid rgb(255, 0, 0);
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.nav .nav-item a{
  padding-right: 15px;
}
  
  .jumbotron{
    background-image: url(../assets/img/BACKGROUND4.png);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
    margin-top: -85px;
  }
  
  .jumbotron .container{
    z-index: 1;
    position: relative;
  
  }
  
  .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height:100%;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
  }
  
  .jumbotron .display-4{
    color: rgb(110, 106, 106);
    margin-top: 150px;
    font-weight: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-size: 50px;
    margin-bottom: 30px;
  
  }
  